{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
    {{context.user.login}}'s apps
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <div class="container">
        <h2>Apps List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>App Name</th>
                    <th>Author</th>
                    <th>Size</th>
                    <th>Year</th>
                    <th>Restriction</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for a in apps %}
                    <tr>
                        {% if a.extension == 'docx' %}
                            <td>
                                <img src="assets/images/docx-24px.png">
                            </td>
                        {% elseif a.extension == 'pdf' %}
                            <td>
                                <img src="assets/images/pdf-24px.png">
                            </td>
                        {% else %}
                            <td>
                                <img src="assets/images/text-24px.png">
                            </td>
                        {% endif %}

                        <td>{{a.name}}</td>
                        <td>{{a.author}}</td>
                        <td>{{a.size}} KB</td>
                        <td>{{a.year}}</td>
                        <td>{{a.restriction}}</td>
						<td>
							<script>
								function showDescriptionModal() {
									$("#descriptionmodalbody").text('{{a.description}}');
									$("#description").modal();
								}
							</script>
							<button type="button" id="descriptionbutton" class="btn btn-info" onclick="showDescriptionModal();">Description</button>
                        </td>
                        <td>
                            <a href="{{a.directory}}{{a.name}}" download>
                                <img src="assets/images/download-24px.png">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
	<!-- Modal -->
	<div class="modal fade" id="description" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Description</h4>
				</div>
				<div class="modal-body">
					<p id="descriptionmodalbody"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}