{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
	{{context.user.login}} Documentation
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
        <div class="container">
          <h2>Documentations</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Document Name</th>
                <th>Author</th>
                <th>Size</th>
                <th>Year</th>
                <th>Restriction</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for d in documents %}
                <tr>
                  <td>{{d.name}}</td>
                  <td>{{d.author}}</td>
                  <td>{{d.size}} KB</td>
                  <td>{{d.year}}</td>
                  <td>{{d.restriction}}</td>
                  <td>
                    <a href="{{d.directory}}{{d.name}}" download>
						<img src="assets/images/download-24px.png">
					</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
