{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
	{{context.user.login}}'s' publication
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
        <div class="container">
          <h2>Publication List</h2>
          <table class="table">
            <thead>
              <tr>
			  	<th></th>
                <th>Publication Name</th>
                <th>Author</th>
                <th>Size</th>
                <th>Year</th>
                <th>Restriction</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for p in publications %}
                <tr>
					{% if p.extension == 'docx' %}
					  <td>
						  <img src="assets/images/docx-24px.png">
					  </td>
					{% elseif p.extension == 'pdf' %}
					  <td>
						  <img src="assets/images/pdf-24px.png">
					  </td>
					{% else %}
						<td>
							<img src="assets/images/text-24px.png">
						</td>
					{% endif %}

                  <td>{{p.name}}</td>
                  <td>{{p.author}}</td>
                  <td>{{p.size}} KB</td>
                  <td>{{p.year}}</td>
                  <td>{{p.restriction}}</td>
                  <td>
                    <a href="{{p.directory}}{{p.name}}" download>
						<img src="assets/images/download-24px.png">
					</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
